<div ng-controller="CarroController">
    <div class="row estiloBoton">
        <a href="#home">
            <button type="button" class="btn btn-primary col-xs-6 botonmicarrito">
                <span class="oi oi-arrow-left"></span> Volver 
            </button>
        </a>
    </div>

    <br><br><br>


    <table class="table">
        <thead>
            <tr>
                <th colspan="4" style="text-align: center;">MI CARRITO</th>              
            </tr>
            <tr>
                <th>Producto</th>    
                <th>Cantidad</th> 
                <th>Precio</th>    
                <th></th> 
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="listar in vcarroComprasDef">
                <th scope="row">{{listar.name}}</th>
                <td>{{listar.pedido}}</td>
                <td>{{listar.price}}</td>  
                <td>
                     <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="fnActualizarPedido($index, '+')" style="color: #007bff; background-color: #E5F3FB">+</button>
                            <input numbers-only="numbers-only" class="col-3  btn btn-sm btn-outline-secondary" ng-model="listar.pedido" ng-change="fnActualizarPedido($index, 'Manual')"  />
                            <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="fnActualizarPedido($index, '-')"  style="color: #007bff; background-color: #E5F3FB" >-</button>
                        </div>
                    
                </td>
            </tr>

        </tbody>
    </table>


</div>