<div ng-controller="TiendaControler">
    <div class="row estiloBoton">
        <a href="#cart">
        <button type="button" class="btn btn-primary col-xs-6 botonmicarrito">
            <span class="oi oi-cart"></span> MI CARRITO <span class="badge badge-light">({{cantidadItem}} items)</span>
        </button>
        </a>
    </div>

    <div id="alerta" class="row estiloBoton alerta" style="display: none;">
        <div class="col-xs-6">
            <div class="alert alert-primary" role="alert" style="width: 200px; text-align: center;">
                {{textoAlerta}}
            </div>
        </div>       
    </div>


    <div id="MenuTienda" class="estilo"></div>
    <br>
    <div class="filtroNodo" style="display: none;">
        <label class="labelfiltronodo"></label>
        <br>
        <input class="textofiltronodo" type="text" ng-model="filtro.name" />      
    </div>
    
    <br>


    <div class="row">


        <div class="col-md-2">
            <select ng-model="filtro.available">
                <option value="" selected disabled>Disponibilidad</option>
                <option value="true">Disponibles</option>
                <option value="false">No Disponibles</option>
            </select> 
        </div>
        <div class="col-md-2">
            <input  type="text" ng-model="filtro.price" placeholder="Precio"/>  
        </div>       

        <div class="col-md-2">
            <input  type="text" ng-model="filtro.quantity" placeholder="Cantidad" />  
        </div>


        <div class="col-md-6">
            <span class="float-right">   
                <select ng-model="ordernar">
                    <option value="" selected disabled>Ordenar por</option>
                    <option value="onlyPrice">Precio</option>
                    <option value="-available">Disponibilidad</option>
                    <option value="quantity">Cantidad</option>
                </select> 
            </span>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4"  ng-repeat="listar in products| filter:filtro |orderBy:ordernar">
            <div class="card mb-4 box-shadow" ng-class="{
                                    'ago': !listar.available}">
                <div class="card-body">
                    <p class="card-text">
                        Nombre:{{listar.name}}<br>
                        Precio:<strong style="color: #007bff;">{{listar.price}}</strong><br>
                        sublevel_id:{{listar.sublevel_id}}

                    </p>
                    <div class="d-flex justify-content-between align-items-center" >
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="fnActualizarPedido(listar.idProductoJson, '+')" ng-disabled="!listar.available" style="color: #007bff; background-color: #E5F3FB">+</button>
                            <input numbers-only="numbers-only"  class="col-3  btn btn-sm btn-outline-secondary"  ng-model="listar.pedido" ng-change="fnActualizarPedido($index, 'Manual')" ng-disabled="!listar.available" />
                            <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="fnActualizarPedido(listar.idProductoJson, '-')" ng-disabled="!listar.available" style="color: #007bff; background-color: #E5F3FB">-</button>
                        </div>
                        <small class="text-muted">Cantidad:<span style="color: green;">{{listar.quantity}}</span></small>
                    </div>
                </div>

            </div>
        </div>   
    </div>

</div>

