ul.fancytree-container {
    border: none;
}

.estiloBoton {
    position: fixed;
    z-index: 1000;  
    top: 20px;
    right: 10%;
}

.alerta{
    top: 70px;
    right: 10%;
}

.estilo{
    width: 50%;
}

.div_padre {
    text-align: center;
    width: 100%;
}

.div_hijo {
    width: 80%;
    display: inline-block;
    text-align: left;
}

.botonmicarrito{
    text-align: right;
}

.ago:after {
    content: "No disponible"; 
    font-size: 3em;  
    color: red;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.colorAzul{
    color: #007bff;
}


